/** ==== general */

body {
    color: #555;
}

/*blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5
}*/

blockquote>:first-child {
    margin-top: 0
}

blockquote>:last-child {
    margin-bottom: 0
}

.rst-content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
  margin-left: 0;
}

a.toctree-l4 {
    margin-left: 1em;
    /* font-style: italic; */
    font-size: .8em;
}

img {
   margin: auto; 
   display: block;
}

iframe {
  margin-bottom: 1.5em;
}

.well {
    padding: 10px;
    border: 1px solid #ddd;
    color: #848484;
    font-size: .95em;
}